.intro-header .page-heading h1 {
  font-size: 42px;
}

.navbar-custom .navbar-nav .dropdown-menu {
  min-width: max-content !important;
}

.navbar-custom .navbar-nav .dropdown-menu .dropdown-item {
  white-space: nowrap !important;
  word-break: normal !important;
  overflow-wrap: normal !important;
}
